

<%-include('../layouts/adminHead')-%>

<%-include('../layouts/adminSidebarNoS')-%>


    <!-- Product   -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-12 grid-margin">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Coupons</h4>
                <div class="table-responsive">
                 <a href="/admin/addCoupon"> <label class="badge badge-gradient-success">Add+</label></a>
                
                  <table class="table">
                    <thead>
                      <tr>
                        <th> Coupon Code </th>
                        <th> Offer Percentage</th>
                        <th> Expiry Date</th>
                        <th> Maximum limit</th>
                        <th> Min order limit</th>
                        <th> Action</th>
                      </tr>
                    </thead>
                    <tbody id="coupon-table">


                    </tbody>



                  </table>

                  <div id="pagination" class="text-center mt-4">
                    <button id="prevPage" class="btn btn-success me-1">&lt; Prev</button>
                    <span id="currentPage">1</span>
                    <button id="nextPage" class="btn btn-success ms-1">Next &gt;</button>
                </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      
        
      </div>
    </div>
  </div>
</div>

<!--product list-->

<script>

//pagination setup
const prevPageBtn = document.getElementById("prevPage");
  const nextPageBtn = document.getElementById("nextPage");
  const currentPageSpan = document.getElementById("currentPage");
  let srch="";
  let currentPage =Number(currentPageSpan.innerHTML);
  prevPageBtn.addEventListener('click', async () => {
  
  if (currentPage > 1) {
  
    currentPage=currentPage - 1;
    
    currentPageSpan.innerHTML=currentPage
  }
goToPage(currentPage)
});
nextPageBtn.addEventListener('click', async () => {
  
  
  if (currentPage >= 1) {

    currentPage=currentPage + 1;
    currentPageSpan.innerHTML=currentPage
    
  }
  
  goToPage(currentPage)
});


// load coupon 

document.addEventListener('DOMContentLoaded',async function(){
try {
  const table=document.getElementById("coupon-table")
axios.get(`https://freshbay.online/admin/couponsToPage`).then((response)=>{

    
   
   let couponData=response.data.coupons

// Clear existing rows
table.innerHTML = '';

if (couponData.length > 0) {
  couponData.forEach(coupon=> {
    
    const row = document.createElement('tr');
    row.innerHTML = `
    
        
                                         
                      <td> ${coupon.couponcode}</td>  
                      <td> ${coupon.percentage}</td>  
                      <td> ${coupon.date.toLocaleDateString()}</td>  
                       <td> ${coupon.maxlimit}</td>  
                       <td> ${coupon.minlimit}</td>  
                      

                          <a  onclick="deleteCoupon('${coupon._id}')"><label class="badge badge-gradient-danger">Remove</label></a>
    
                       

                        <a href="/admin/editCoupon?couponId=${coupon._id}"><label class="badge badge-gradient-success">Edit</label></a> 
                      </td>                       
               
                    


 
      `;
    table.appendChild(row);
  });
} else {
  const row = document.createElement('tr');
  row.innerHTML = `<td colspan="5" class="text-center">coupon not found</td>`;
  table.appendChild(row);
}
})

      
    } catch (error) {
      console.log(error.message);
    }


  })





   
   async function deleteCoupon(couponId) {
    const confirmation = await Swal.fire({
        icon: 'warning',
        title: 'Confirmation',
        text: 'Are you sure you want to delete this Coupon?',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Yes, delete it!'
    });

    if (confirmation.isConfirmed) {
        // User confirmed deletion
        const response = await axios.post('https://freshbay.online/admin/deleteCoupon', {couponId});
        if (response.data.success) {
            await Swal.fire({
                icon: 'success',
                title: 'Success',
                showConfirmButton: false,
                timer: 1300,
                text: response.data.message
            });
            window.location.href = "/admin/coupons";
        } else {
            await Swal.fire({
                icon: 'error',
                title: 'Error',
                text: response.data.message
            });
            window.location.href = "/admin/coupons";
        }
    }
}

  
    </script>
   

  <%-include('../layouts/adminFooter')-%>